* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  cursor: pointer;
}

body {
  font-family: "Kanit", sans-serif;
}

.nav {
  background-color: #F4F7FB;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav ul li {
  padding: 2em;
  font-size: 20px;
}
.nav ul li a {
  color: #000;
  padding: 1em;
}
.nav ul li a:hover {
  background-color: #EEA539;
  color: #fff;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10em;
}
.hero__container h1 {
  font-size: 5rem;
}
.hero__left--orange {
  color: #EEA539;
}
.hero__left__search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  border: 1px solid #F4F7FB;
  padding-left: 1em;
}
.hero__left__search form {
  width: 100%;
  font-size: 0;
}
.hero__left__search input {
  border: none;
  outline: none;
  padding: 2em;
  width: 80%;
}
.hero__left__search button {
  width: 20%;
  padding: 2em 0;
  background: #000;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.hero__left__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.hero__left__stats--grey {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F4F7FB;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  margin-top: 3em;
}
.hero__left__stats--grey p {
  font-weight: bold;
}
.hero__left__stats__img {
  background-color: #000;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 1em;
  margin-bottom: 2em;
}
.hero__left, .hero__right {
  flex: 1;
}