@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.nav{
    background-color:$light-grey;
    &__container{
@include flex(space-between,center);
    }

    ul{
        @include flex(space-between,center);

        li{
            padding: 2em;
            font-size: 20px;
            
            a{
                color: #000;

            }
            &:hover{
background-color: $orange;
color: $white;
            }
        }
    }
}
