@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.nav{
    background-color:$light-grey;
    &__container{
@include flex(space-between,center);
    }

    ul{
        @include flex(space-between,center);

        li{
            padding: 2em;
            font-size: 20px;
            
            
            a{
                color: #000;
                padding: 1em;

                &:hover{
                    background-color: $orange;
                    color: $white;
                                }               
                            }

            }
            
        }
        &__center{
            ul{
                color: $black;
            }
        }
    }
   .shop{

    ul{
        @include flex(space-around,flex-start);
        border-bottom:2px solid grey;
        color: $black;
        span{
            color:$orange;
        }
        
    li{
        font-size: 2rem;
        margin-top: 2em;
        margin-bottom: 1em;
        color: $black;
        
       
    }
    }
    &__container{
        @include flex(space-between,center); 
        border-top: 2rem;
        gap: 1.5em;
        .shop__image{
            background-color: $light-grey;
            margin-top:5em;
            padding: 2em;
            padding-top: 2em;
            button{
                background-color: #000;
                color: $white;
                font-size: 1.2rem;
                padding: 0.5em;
            }
        
        }
    }
   } 

